<div class="d-flex justify-content-center content align-items-center flex-column">
  <div class="col-5">
    <h1>Search d_evs</h1>
  </div>
  <div class="col-8">
    <div class="box-search">

      <form class="d-flex justify-content-center">
        <span class="w-100 p-input-icon-left me-2">
          <i class="pi pi-search"></i>
          <input type="text" [(ngModel)]="input" class="p-inputtext-sm" [ngModelOptions]="{standalone: true}" pInputText placeholder="Search" />
        </span>
        <button (click)="send()" [disabled]="!input" pButton type="button" label="Search" class="p-button-sm" ></button>
      </form>
    </div>
  </div>
</div>



