<div class="d-flex justify-content-center content align-items-center">
  <div class="col-8">
    <div class="box-search">
      <h1>Search d_evs</h1>

      <form class="d-flex justify-content-center">
        <span class="w-100 p-input-icon-left me-2">
          <i class="pi pi-search"></i>
          <input type="text" class="p-inputtext-sm" pInputText placeholder="Search">
        </span>
        <button pButton type="button" label="Search" class="p-button-sm" ></button>
      </form>
    </div>
  </div>
</div>



