.error-status {
  font-size: 120px;
  text-align: center;
  color: #8C19D2;
}

p.error{
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  font-weight: 200;
  color: rgb(0 0 0 / 62%);
}

.icon{
  font-size: 199px;
}


body {
  background:#ecf0f1 !important;
}

.h-100{
  height: 100vh;
}

.btn-error{
  color: white;
  margin-top:15px;
}

.btn-contact {
  background: #8C19D2
}

.btn-contact:hover {
  background: #7158e2
}

