<div class="d-flex">
  <div class="col-12 error-col">
      <h1 class="error-status">404</h1>
      <h3 class="text-center">Não Encontrado!</h3>

      <p class="error"> Lamentamos, mas o você está procurando não pode ser encontrado.
      </p>
      <p class="error">
          Verifique sua pesquisa e tente novamente.
      </p>
      <div class="d-flex justify-content-center">
        <button pButton type="button" label="Voltar" [routerLink]="['/home']" class="p-button mt-5 btn-contact"></button>
      </div>
  </div>

</div>
